<div class="container">
  <div class="row">
    <h1>
      Welcome!
    </h1>
  </div>


  <div class="row">
    <h3>Bootstrap</h3>
    <%= render partial: 'bootstrap' %>
  </div>

  <div class="row">
    <h3>Font Awesome</h3>
    <%= render partial: 'font_awesome' %>
  </div>

  <div class="row">
    <h3>DataTable</h3>
    <%= render partial: 'datatable' %>
  </div>
</div>
